/CLASE_8/nbproject/private/
/CLASE_8/build/
/CLASE_9/nbproject/private/
/EJERCICIOS_1/nbproject/private/
/EJERCICIOS_1/build/
/EJERCICIO_2/nbproject/private/
/EJERCICIOS_2/nbproject/private/
/EJERCICIOS_2/build/
/JavaApplication14/nbproject/private/
/EJERCICIOS_3/nbproject/private/
/EJERCICIOS_3/build/
/SimulacroParcial/nbproject/private/
/Libreria/nbproject/private/
/Miralles_Luciano/nbproject/private/
/Miralles_Luciano/build/
/Libreria/build/
/Simulacro_2/nbproject/private/
/SimulacroParcial_2/nbproject/private/
/TP_Practica/nbproject/private/
/JavaApplication20/nbproject/private/
/JavaApplication20/build/
/SimulacroParcial_2/build/
